*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    margin: 0;
}
.container {
    width: 800px;
}
.form-container,.output-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 10px;
}
form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}
select, input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}
.input-container {
    width: calc(50% - 5px);
}
input[type="submit"], .button-container button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
input[type="submit"]:hover, .button-container button:hover {
    background-color: #45a049;
}
.output-container {
    display: flex;
}
.body-container {
    flex: 4;
}
.button-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.output-container h2 {
    margin: 0;
    margin-bottom: 20px;
}
.output-details{
    display: flex;
    flex-wrap: wrap;
}
.output-details p {
    width: 50%;
    margin-top: 0;
    margin-bottom: 10px;
}

.loader-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container > div {
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    background-color: #45a049b5;
}

.loader-1 {
    animation: loader 0.6s linear 0.1s infinite;
}

.loader-2 {
    animation: loader 0.6s linear 0.2s infinite;
}

.loader-3 {
    animation: loader 0.6s linear 0.3s infinite;
}

.no-data {
    margin-top: 20px;
    text-align: center;
}

@keyframes loader {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}